asgiref==3.8.1
async-timeout==5.0.1
beautifulsoup4==4.12.3
bs4==0.0.2
celery==5.4.0
certifi==2024.7.4
cffi==1.17.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
crispy-bootstrap5==2024.2
Django==5.1
django-celery-beat==2.7.0
django-crispy-forms==2.3
django-parler==2.3
django-parler-rest==2.2
django-prometheus==2.3.1
django-ratelimit==4.1.0
django-redis==5.4.0
django-rosetta==0.10.1
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
drf-yasg==1.21.7
gunicorn==23.0.0
h3==3.7.7
idna==3.8
inflection==0.5.1
kombu==5.4.2
numpy==2.1.0
openpyxl==3.1.5
packaging==24.1
pandas==2.2.2
pillow==10.4.0
polib==1.2.0
prometheus_client==0.20.0
psycopg2==2.9.9
psycopg2-binary==2.9.9
pycparser==2.22
PyJWT==2.9.0
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.2
pycryptodome==3.22.0
redis==5.2.1
reportlab==4.2.2
requests==2.32.3
six==1.16.0
soupsieve==2.6
sqlparse==0.5.1
timezonefinder==6.5.2
tzdata==2024.1
uritemplate==4.1.1
urllib3==2.2.2
python-decouple==3.8
